<div id="<%= dom_id ticket %>">
  <p>
    <strong>Title:</strong>
    <%= ticket.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= ticket.body %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= ticket.completed %>
  </p>

</div>
